.container {
  display: flex;
  color:black;
}

.menu {
  flex: 1;
  background-color:white; 
  padding: 20px;
  min-height: 100vh;
  color:black;
}
.content {
  flex: 4;
  padding: 10px;
  color:black;
}

.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  color:black;
}
.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color:black;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  color:black;
}

.side {
  flex: 1;
}
